{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="content-container">
        <div class="site-title">
            <h1>{{ post.title }}</h1>
        </div>
    <div class="row">
        <div class="alert alert-info col-9">
            <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
            <p class="date">Updated {{ post.updated }}</p>
            <p class="date">Created {{ post.created }}</p>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" ><a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}">Edit</a></button>
        </div>
    </div>
    <hr>
    {{ post.body|linebreaks }}
    <hr>
    <p>
        <a  class="btn btn-primary" href="{% url "blog:post_share" post.id %}" role="button">Share this post</a>
    </p>
    <hr>
    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
    {% endwith %}
    <hr>
    {% for comment in comments %}
        <div class="comment">
            <div class="alert alert-info col-7 timecoment" role="alert">
                <p class="text-right">
                Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
                </p>
            </div>
            <div class="textcoment">
                {{ comment.body|linebreaks }}
            </div>
        </div>
        <hr>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}
        <h2>Add a new comment</h2>
            <form action="." method="post">
                <div class="form-group">
                    <p>Name: </p>{{ comment_form.name }}
                </div>
                <div class="form-group">
                    <p>Email: </p>{{ comment_form.email }}
                </div>
                <div class="form-group">
                    <p>Comment: </p>{{ comment_form.body }}
                    {% csrf_token %}
                </div>
                <p><input class="btn btn-primary" type="submit" value="Add comment"></p>
            </form>

    </div>
{% endblock %}